* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'Roboto Condensed', sans-serif;
  }
  
  
  .contactUsWelcomeDiv {
    position: relative;
    min-height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000a9; 
  }
  
  .imageOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/images/vvv.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(1px);  
    z-index: -1;
  }
  
  .welcomeText {
    text-align: center;
    color: white;
    z-index: 1;  
  }
  
  .welcomeTitle {
    font-size: 54px;
  }
  
  .welcomeDescribe {
    font-size: 24px;
  }
  
  .miniRobot {
    background-image: url('/images/za.png');
    max-width: 30%;
    min-width: 30%;
    background-size: cover;
    height: 450px;
  }

  .container-1500 {
    max-width: 1500px;
    margin: 0 auto;
  }

  .robotFlex {
    display: flex;
    justify-content: left;
    margin: 50px 0;
    flex-wrap: wrap;
  }

  .miniTitlee {
    text-align: center;
    font-size: 34px;
    color: #000000a9;
  }

  .miniText {
    text-align: center;
    font-size: 17px;
    color: gray;
    padding-top: 20px;
  }

  .texts {
    max-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
  }

  .ptop {
    padding-top: 20px;
  }

  .workFlex {
    margin: 50px 0;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
  }

  .workImage {
    background-image: url('/images/zazaza.jpg');
    max-width: 10%;
    min-width: 30%;
    height: 230px;
  }
  
  .workTexts {
    max-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
  }

  .workTitle {
    text-align: center;
    font-size: 34px;
    color: #000000a9;
  }

  .workText {
    text-align: center;
    font-size: 17px;
    color: gray;
    padding-top: 20px;
  }

  .teamImage {
    background-image: url('/images/v.png');
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat;
    height: 600px;
    width: 100%;  
    margin: 100px 0;
  }

  .miniRobot2 {
    display: none;
  }

  .noneFlex {
    display: none;
  }

  @media (max-width: 1266px) {
    .miniRobot {
    min-width: 50%;
    max-width: 50%;
    }

      @media (max-width: 770px) {
    .miniRobot {
    min-width: 100%;
    max-width: 100%;
    }
    
    .texts {
      max-width: 100%;
      min-width: 100%;
    }

    .workTexts {
      max-width: 100%;
      min-width: 100%;
    }

    .workTitle {
      padding-top: 50px;
    }

    .miniTitlee {
      padding-top: 50px;
    }
  }

  @media (max-width: 440px) {
        .miniRobot {
          display: none;
    }

    .miniRobot2 {
      display: block;
      background-image: url('images/zxc.jpg');
      width: 320px;
      height: 300px;
    }

    .noneFlex {
      display: flex;
      justify-content: center;
      width: 100%;
    }
  }

}