* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .Header {
    position: fixed;
    top: 0;
    left: 50%;
    z-index: 1000;
    width: 100%;
    transform: translateX(-50%);
    max-width: 1500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 78px;
  }
  
  .logoImage {
    width: 100%;
    height: auto;
  }
  
  .fullbg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 78px;
    background-color: rgba(0, 0, 0, 33%);
    z-index: 1000000;
  }
  
  .headerFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
  }
  
  .Text {
    display: flex;
    align-items: center;
  }
  
  .line {
    width: 1px;
    height: 50%;
    background-color: #cacaca98;
  }
  
  a {
    text-decoration: none;
    color: #fff;
    font-size: 17px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-toggle {
    cursor: pointer;
    padding: 10px;
    color: #fff;
    font-size: 17px;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 150px;
    background-color: rgb(0, 0, 0);
    border: 1px solid #ddd;
    display: none;
    z-index: 1000;
  }
  
  .dropdown:hover .dropdown-menu,
  .dropdown.active .dropdown-menu {
    display: block;
    background-color: black;
    color: #fff;
  }
  
  .dropdown-menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
  }
  
  .dropdown-menu a:hover {
    background-color: #f0f0f0;
  }
  
  @media (max-width: 900px) {
    .headerFlex {
      flex-direction: row;
      justify-content: space-between;
    }
  
    .l {
        width: 100%;
        height: 1px;
        background-color: gray;
    }

    .Text {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 68px;
        right: 0px;
        background-color: #000000f2;
        padding: 15px 20px;
        gap: 10px;
        border-radius: 6px;
        z-index: 999;
        width: auto;
        min-width: 180px;
      }
      
  
    .Text.show {
      display: flex;
    }
  
    .line {
      display: none;
    }
  
    .toggle-menu-btn {
        color: #ffffff;
        background-color: #1b57fde1;
        border-radius: 5px;
        letter-spacing: 2.5px;
        padding: 17.5px 25px;
        border: none;
        font-size: 20px;
        cursor: pointer;
        font-weight: bold;
    }
  
    .Logo img {
      max-width: 150px;
    }
  }
  
  @media (min-width: 901px) {
    .toggle-menu-btn {
      display: none;
    }
  
    .Text {
      display: flex !important;
      flex-direction: row;
      background: none;
      position: static;
      padding: 0;
      gap: 0;
    }
  }
  